<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New notification</title>
</head>

<body>
   <h5>order id: <%=order.id%></h5>
   <h5>order Date: <%=order.date%></h5>
   <h5>order name: <%=order.name%></h5>
   <h5>order price: <%=order.price%></h5>
</body>

</html>